<script>
$(function() {
  var word_data = <%= raw @word_data.to_json %>;
  initialize_quiz(word_data);
});
</script>

<% if (@word_data.length < 4) %>
SORRY! This list must have at least 4 defined words in order to generate a quiz.
<% else %>

<div class="list_title">Normal Quiz - <%= @list.name %></div>

<div id="quiz_box" class="list_box">
  <div id="question_div">
    <div class="quiz_header">Word</div>
    <div id="word_d"></div>
  </div>

  <div id="answer_div">
    <div class="quiz_header">Definition</div>
    <div id="definition"></div>
  </div>
</div>
<br>
<div id="status"></div>
<br>
<span class="list_title">Incorrect Words</span>
<table id="incorrect" class="data_table">
  <tr>
    <th>Word</th>
    <th>Definition</th>
  </tr>
</table>

<% end %>
