// Place all the styles related to the browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_box {
  background-color: #DDD;
  border: solid 2px gray;
  border-radius: 10px;
}

.list_votes {
  float: left;
  width: 50px;
  text-align: center;
}

.list_info {
  margin-left: 50px;
  margin-right: 20px;
}

.list_title {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.list_ln2 {
  font-size: 12px;
}

.edit_box {
  display: none;
  background-color: white;
  padding: 5px;
  border: 1px solid gray;
}
