// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_word_box {
  float: left;
}

#start_quiz_box {
  float: left;
  margin-left: 25px;
}

#word_list {
  clear: both;

  td {
    text-align: left;
  }
}

#add_words_box {
  
}
