// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_word_box , #start_quiz_box {
  display: inline;
}

#word_list {
  margin: 10px;
  background-color: white;
  border: 1px solid black;
  td {
    text-align: left;
  }
}

#add_words_box, #buttons_row {
  margin: 10px;
}
