// Place all the styles related to the quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quiz_box {
  padding: 10px;
}

#question_div {
  width: 200px;
  float: left;
}

#question_div_rev {
  width: 600px;
  float: left;
}

#answer_div {
  margin-left: 200px;
}

#answer_div_rev {
  margin-left: 600px;
}

#ques_d, #ans_d, .quiz_ans {
  font-size: 16px;
  margin-top: 5px;
}

.quiz_header {
  font-size: 16px;
  color: gray;
  font-weight: bold;
}

.quiz_ans {
  background-color: #FFA;
}

.quiz_ans:hover {
  background-color: #FF6;
}
