// Place all the styles related to the quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quiz_box {
  padding: 10px;
}

#question_div {
  float: left;
}

#answer_div {
  margin-left: 200px;
}

#word_d, #definition, .quiz_definition {
  font-size: 16px;
  margin-top: 5px;
}

.quiz_header {
  font-size: 16px;
  color: gray;
  font-weight: bold;
}

.quiz_definition {
  background-color: #FFA;
}

.quiz_definition:hover {
  background-color: #FF6;
}
